body{
background-color: #040F7F;
}
h1{
color:white;
 font-family: 'Poppins', sans-serif;
 text-align:center;
}
#logueo, #guardar{
    background-color:black;
    color:white;
    border:1px solid #4FB1FF;
    font-size:16px;
    text-align:center;
    cursor:pointer;
    display:inline-block;
}
#logueo:hover,#guardar:hover{
    background-color: #97C8FF;
    color:black;
}
#contenedor{
width:auto;
text-align:center;
}
#foto{
width:50%;
height: 400px;
margin: 0 auto;
position:relative;
background-image: url("http://www.ninos-felices.com.mx/wp-content/uploads/2016/05/7-balnearios-DF-3.jpg");
background-size:contain;
background-repeat:no-repeat;
}
